<%= form_for(field_info) do |f| %>
  <% if field_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(field_info.errors.count, "error") %> prohibited this field_info from being saved:</h2>

      <ul>
      <% field_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :sort_order %>
    <%= f.text_field :sort_order %>
  </div>

  <div class="field">
    <%= f.label :unit_name %>
    <%= f.text_field :unit_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
