<%= form_for(work_info) do |f| %>
  <% if work_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_info.errors.count, "error") %> prohibited this work_info from being saved:</h2>

      <ul>
      <% work_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :units %>
    <%= f.text_field :units %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :entry_info_id %>
    <%= f.text_field :entry_info_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
