<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_info.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @work_info.amount %>
</p>

<p>
  <strong>Units:</strong>
  <%= @work_info.units %>
</p>

<p>
  <strong>Price:</strong>
  <%= @work_info.price %>
</p>

<p>
  <strong>Entry info:</strong>
  <%= @work_info.entry_info %>
</p>

<%= link_to 'Edit', edit_work_info_path(@work_info) %> |
<%= link_to 'Back', work_infos_path %>
